body {
    background-image: linear-gradient(-280deg, #FFFFFF 5%, #D7FFFE 100%);
    background-size:cover; /*讓圖片完全填滿整個容器 */
    background-repeat: repeat;

}


.pure-img-responsive {
    max-width: 400px;  /* 确保图片不超过其容器的宽度 */
    height: auto;    /* 高度自动调整以保持图片比例 */
    margin: 10px auto; /* 上下保持10px间距，左右自动（实现水平居中） */
    width: 100%;     /* 将图片宽度设置为容器宽度的150% */
    display: block;  /* 将图片显示为块级元素，允许使用margin:auto */
}

.pure-table th {
    text-align: center; /* 或 left，根據您想要的對齊方式 */
    vertical-align: middle; /* 確保文字垂直居中 */
    writing-mode: horizontal-tb; /* 設置文字水平顯示 */
}


#layout,
#menu,
.menu-link {
    transition: all 0.2s ease-out;
}

#layout {
    position: relative;
    padding-left: 0;
}

#layout.active #menu {
    left: 150px;
    width: 150px;
}

#layout.active .menu-link {
    left: 150px;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;

}



.header {
    margin: 0;
    color: #0066CC;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
}

.header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 500;
}

.header h2 {
    font-weight: 2em;
    color: #9D9D9D;
    margin-top: 0;
}

.content-subhead {
    margin: 20px 0px 20px;
    font-weight: bold; /* 將文字設為粗體 */
    font-size:2em;
    color:#2894FF;
}
.subhead-container {
    display: flex;
    justify-content: space-around;
    padding-left: 1px;  /* 增加左側內邊距 */
    padding-right: 1px; /* 增加右側內邊距 */
}



.subhead-box {
    flex: 2;
    padding: 30px;
    border-right: 1px solid #FFFFFF; /* 添加分隔線 */
    background-size: cover; /* 確保背景圖片覆蓋整個元素 */
    background-position: center; /* 將圖片置於容器中央 */
    background-color: rgba(255, 255, 255, 0.5); /* 添加半透明的白色背景 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 文字陰影，增強可讀性 */
    background-image:linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}

/* 為了移除最後一個盒子的分隔線 */
.subhead-box:last-child {
    border-right: none;
}

#menu {
    margin-left: -150px;
    width: 150px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
    /*background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%); Updated background color */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#menu a {
    color: #fff;
    padding: 0.5em 0.5em 0.5em 0.1em;
    font-weight: bold; /* 將文字設為粗體 */
    font-size: 20px; /* 設置字體大小 */
    text-align: center; /* 設置文字置中 */
}

#menu .pure-menu,
#menu .pure-menu ul {
    background: transparent;
}

#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
    border-top: 1px solid #333;
}

#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
    background: #2894FF; /* 滑鼠懸停或聚焦時的背景顏色 */
    color: #fff;
}

#menu .pure-menu-selected,
#menu .pure-menu-heading {
    background: #1f8dd6;
}

#menu .pure-menu-selected a {
    color: #fff;
}

#menu .pure-menu-heading {
    font-size: 110%;
    color: #fff;
}

.menu-link {
    position: fixed;
    display: block;
    top: 0;
    background: rgba(0,0,0,0.7);
    font-size: 100px;
    z-index: 10;
    width: 2em;
    padding: 2.1em 1.6em;
}

.menu-link:hover,
.menu-link:focus {
    background: #000;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
    background-color: #fff;
    width: 100%;
    height: 0.2em;
}

.menu-link span:before,
.menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}

.menu-link span:after {
    margin-top: 0.6em;
}

.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}


.button-secondary {
    background: rgb(66, 184, 221);
    /* this is a light blue */
}




@media (min-width: 48em) {
    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 150px;
    }
    #menu {
        left: 150px;
    }

    .menu-link {
        display: none;
    }
}

@media (max-width: 48em) {
    #layout.active {
        left: 150px;
    }
}

@media (max-width: 768px) {
    .pure-img-responsive {
        width: 100%; /* 在小螢幕上，將寬度設為100% */
    }
}


